---
import "../styles/global.css";
import "aos/dist/aos.css";
import { ClientRouter } from "astro:transitions";
import Header from "@Components/UI/Header.astro";

const { locale } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>La Fragancia JM</title>
    <ClientRouter />
  </head>
  <body
    class="container p-0 m-0 min-w-screen min-h-screen bg-black overflow-x-hidden"
  >
    <Header locale={locale} />
    <slot />
  </body>
</html>

<script>
  import AOS from "aos";

  document.addEventListener("astro:page-load", () => {
    AOS.init({
      once: false,
    });
  });
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); /*raleway */

  @import url("https://fonts.googleapis.com/css2?family=Betania+Patmos&display=swap"); /*betania */

  html {
    scroll-behavior: smooth;
  }
</style>
