---
import type { TranslationProps } from "@Lib/types/translationTypeProps";

const { t } = Astro.props as TranslationProps;

import ReviewsCard from "@Components/islands/ReviewsCard.astro";

const title = t("reviews").title;
const reviewInfo = t("reviews").info;
---

<section
  id="reviews"
  class="w-full py-16 px-4 md:px-12 flex flex-col gap-12 md:mt-24"
>
  <div
    data-aos="fade-down"
    data-aos-duration="500"
    class="flex flex-col gap-4 items-center text-center"
  >
    <h2 class="text-primary font-raleway text-2xl font-semibold md:text-4xl">
      {title}
    </h2>

    <div class="w-20 md:w-24 border-b-4 border-primary"></div>
  </div>

  <div
    data-aos="fade-down"
    data-aos-duration="1000"
    class="flex flex-col items-center gap-8 md:flex-row md:justify-center md:gap-10"
  >
    {
      reviewInfo.map(({ user, paragraph }) => {
        return <ReviewsCard user={user} description={paragraph} />;
      })
    }
  </div>
</section>
